
    ion-header {
        background: rgba(85, 178, 255, 0.95);
        color: white;
       
    }
    

ion-icon{
    font-size: 25px;
}
ion-icon:hover{
    color: rgba(0, 0, 0, 0.331);
}
ion-buttons{
    margin-left: 10px;
    margin-top: 5px;
    --padding-start: 0;
    --padding-end: 0;
    --background: transparent;
    --border-radius: 0;
    --box-shadow: none;
}

ion-img{
    width: 50px;
    height: 50px; /* Asegura que la imagen sea cuadrada */
    border-radius: 50%;
    overflow: hidden; 
}