ion-content {
  --background: linear-gradient(to bottom, #25D366, #74e79e);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.logo-icon {
  font-size: 72px;
  color: white;
  margin-bottom: 30px;
  animation: pulse 1.5s infinite;
}

ion-spinner {
  width: 48px;
  height: 48px;
  --color: white;
}

@keyframes pulse {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.1); opacity: 0.8; }
  100% { transform: scale(1); opacity: 1; }
}